
Django==5.0.6
Pillow==10.3.0
redis==5.0.4
django-redis==5.4.0

celery==5.4.0
django-allauth==0.63.1
django-debug-toolbar==4.3.0
django-environ==0.11.2
django-extensions==3.2.3
prompt-toolkit==3.0.43
psycopg2-binary>=2.9.9
yookassa==3.1.0
jsonschema
